.wrapper {
  height: 100%;
  position: relative;
  --light-color: #e7c296;
  --dark-color: #29344b;
  --danger-color: #f01f69;
  button {
    margin: 4px;
    padding: 4px;
    border-radius: 4px;
  }
}
.linkWrapper {
  cursor: pointer;
}
.labelWrapper {
  display: flex;
  flex-direction: column;
}

.edit {
  label {
    display: flex;
    flex-direction: column;
    > div {
      color: var(--light-color);
      padding: 0 4px;
      background-color: var(--dark-color);
      display: inline-flex;
      width: min-content;
    }

    input {
      color: var(--dark-color);
    }
  }
  button {
    background-color: var(--light-color);
    color: var(--dark-color);
  }
}
.img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  transition: filter 0.2s ease-in-out;
}

.remove {
  background-color: var(--danger-color);
  color: var(--dark-color);
  position: absolute;
  top: 34px;
  right: 0;
}

.hide {
  background-color: #4bd7fb;
  color: var(--dark-color);
  position: absolute;
  top: 34px;
  left: 0;
  z-index: 1;
}
.hiddenImg {
  filter: grayscale(80%) blur(3px);
}
