---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <h1> Welcome to The Menu </h1>
  <p>
    The menu is a place for families to save menu options for all
    aspects of their day. Feel free to let your little ones choose
    from any of our options listed!
  </p>
</BaseLayout>

